<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services page</title>
</head>
<body>
    <section id="content">
        <h1>
            Welcome to services page
        </h1>
        <h2>
            Services offered by SCM
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, natus soluta, officia unde voluptas officiis voluptates quas dolore dignissimos amet at alias eaque illum excepturi cumque, et neque laboriosam voluptatem!</p>
    </section>
    <script>
        console.log("services page")
    </script>
</body>
</html>